# 配置文件等
.vscode/
config.php
update.json
config/
cache/
update/

# 用户文件
notice.html

# 程序文件导出
ProgramFilesExporter/
ProgramFiles/
ProgramFiles.*


# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.swp
.docker/nginx/*.log
.docker/*/*.log
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.docker/persistent/
NNP/
.DS_Store
